@using BTL_KTPM.Application.Catalog.Products.Dtos
@model DetailsProductViewModels
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string url = "http://192.168.2.102:7022/user-content/";
}
<div class="container-fluid">

    <div class="banner">
        <div class="inner">
            <div class="container text-center">
                <p class="title-heading">CHI TIẾT SẢN PHẨM</p>
                <p class="intro"><a href="">Trang chủ</a>/ <a href="">Chi tiết sản phẩm</a></p>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="list-img">
                        <img src="@Url.Content(@url+@Model.ProductDeltails.ThumbnailImage[0].ImagePath)" alt="" href='img/ban/ban2/ban2.1.webp'>
                        <div class="row">
                            <div class="col-4"><img src="img/ban/ban2/ban2.2.webp" alt="" href='img/ban/ban2/ban2.2.webp'></div>
                            <div class="col-4"><img src="img/ban/ban2/ban2.3.webp" alt="" href='img/ban/ban2/ban2.3.webp'></div>
                            <div class="col-4"><img src="img/ban/ban2/ban2.4.webp" alt="" href='img/ban/ban2/ban2.4.webp'></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="main-info">
                        <div class="product-info">
                            <p class="name-product">@Model.ProductDeltails.ProductName</p>
                            <div class="price-product text-center d-flex align-items-center">
                                <p class="price">@String.Format("{0:n0}", Model.ProductDeltails.ProductPrice) VNĐ</p>
                                @if (Model.ProductDeltails.Discount != 0)
                                {
                                    <p class="root-price">@String.Format("{0:n0}", Model.ProductDeltails.ProductOriginalPrice) VNĐ</p>

                                }

                            </div>
                            <p class="text-intro">Một chiếc bàn xinh đẹp phù hợp với phong cách đơn giản nhưng đầy tinh tế và sang trọng.</p>
                            <form asp-action="AddToCart" asp-controller="Cart" method="post" style="width: 100%;">

                                <div class="soluong d-flex align-items-center">

                                    <p class="sl-text">Số lượng: </p>
                                    <button type="button" class="Add_Quantity_Product">
                                        <i class="fas fa-plus"></i>

                                    </button>
                                    <input type="number"  id="Quantity_Product" name="Quantity" value="1"/>
                                    <button type="button" class="Minsus_Quantity_Product">
                                        <i class="fas fa-minus"></i>

                                    </button>
                                </div>
                                <div class="rate d-flex">
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="rate-number text-end">
                                        <p>@Model.ProductDeltails.CountComment lượt xem</p>
                                    </div>
                                </div>
                                <div class="buttons d-flex ">

                                    <input type="hidden" name="ProductId" value="@Model.ProductDeltails.Id">
                                    <button type="submit" class="addCartDeltals">
                                        <i class="fas fa-cart-plus"></i> Thêm vào giỏ
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="uudai">
                        <p class="uudai-title">Ưu đãi thêm</p>
                        <p>Trừ 5% cho khách hàng đăng kí</p>
                        <p>Trừ 5% cho thanh toán qua thẻ</p>
                    </div>
                </div>
            </div>
            <div class="product-intro">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Miêu tả</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Thông số</button>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        @Model.ProductDeltails.ProductDescription
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <ul class='list-thongso'>
                            <li>Trọng lượng: 50kg</li>
                            <li>Ghế được bán và vận chuyển theo cặp. Giá được hiển thị trên mỗi ghế</li>
                            <li>Polypropylene đúc chất lượng cao</li>
                            <li>Thích hợp cho sử dụng trong nhà và ngoài trời</li>
                            <li>Yêu cầu lắp ráp đơn giản (khoảng 15 phút)</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="suggest">
                <div class="suggest-heading">Sản phẩm gợi ý</div>
                <div class="row">

                    @foreach (var item in Model.SuggestProduct)
                    {
                        <div class="col-lg-3 col-md-6 col-12 nopadding">
                            <div class="product">
                                <a href="@Url.Action("Details","Product",new{id = @item.Id})">
                                    <img src=" @Url.Content(@url+@item.ThumbnailImage[0].ImagePath)" alt="" class="product-img">
                                    <div class="product-info">
                                        <p class="name-product text-center">@item.ProductName</p>
                                        <div class="price-product text-center d-flex align-items-center">
                                            <p class="price">
                                                @String.Format("{0:n0}", item.ProductPrice) VNĐ

                                            </p>
                                            @if (item.Discount != 0)
                                            {
                                                <p class="root-price">
                                                    @String.Format("{0:n0}", item.ProductOriginalPrice) VNĐ
                                                </p>

                                            }
                                        </div>
                                        <div class="rate d-flex">
                                            <div class="stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="rate-number">
                                                <p>
                                                    @item.CountComment
                                                    lượt xem
                                                </p>
                                            </div>
                                        </div>
                                        <div class="buttons d-flex ">
                                            <input type="hidden" value="@item.Id" class="Id_Product_Details">

                                            <form asp-action="AddToCart" asp-controller="Cart" method="post" style="width: 100%;">
                                                <input type="hidden" name="ProductId" value="@Model.ProductDeltails.Id">
                                                <input type="hidden" name="Quantity" value="1">
                                                <button type="submit" class="addCart">
                                                    <i class="fas fa-cart-plus"></i> Thêm vào giỏ
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                                @if (item.Discount != 0)
                                {
                                    <div class="discount">
                                        -@item.Discount%
                                    </div>
                                }

                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <script src="~/js/quantityProduct.js"></script>
    <script src="~/js/AddCart.js"></script>
</div>