@using BTL_KTPM.Data.entities
@model List<Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script>
    setTimeout(function(){
        $('#msgAlert').fadeOut("slow");
    },2000);

</script>
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách phản hồi</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách phản hồi </li>
    </ol>
    <div class="card mb-12">

        <div class="card-body">

            @if (ViewBag.SuscessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuscessMsg
                </div>
            }
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Người gửi
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Tiêu đề
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @i
                                @{
                                    i++;
                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberPhone)
                            </td>

                            <td>
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id },new {@class= "btn btn-primary"})
                                @Html.ActionLink("Xóa", "Delete", new { id = item.Id },new {@class= "btn btn-danger"})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

