@using BTL_KTPM.Application.Catalog.Common
@using BTL_KTPM.Application.Catalog.Producers.Dtos
@model PageResult<ProducerViewModels>

@{
    ViewData["Title"] = "Danh sách nhà cung cấp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script>
    setTimeout(function(){
        $('#msgAlert').fadeOut("slow");
    },2000);

</script>
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách nhà cung cấp</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách nhà cung cấp </li>
    </ol>

    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a asp-action="Create" class="btn btn-success">Thêm nhà cung cấp</a>

                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-10">
                            <form asp-action="Index" asp-controller="Producer" method="post">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />

                                    </div>
                                   
                                    <div class="col-md-4">
                                        <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="col-md-2">
                            <a class="btn btn-secondary " href="@Url.Action("Index","Producer",new {keyword = ""})">Reset</a>

                        </div>
                    </div>


                </div>

            </div>
        </div>
        <div class="card-body">

            @if (ViewBag.SuscessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuscessMsg
                </div>
            }
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Tên Nhà cung cấp
                        </th>
                        <th>
                            Mô tả
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProducerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.Id },new {@class= "btn btn-success"})
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id },new {@class= "btn btn-primary"})
                                @Html.ActionLink("Xóa", "Delete", new { id = item.Id },new {@class= "btn btn-danger"})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>

